{% extends 'base_layout.html' %}

{% block content %}
    <h1 id="titleJadwal" >jadwal</h1>
    <div class="inputJadwal">
        <div class="container">
            <h3> create jadwal</h3>
            <form action="{% url 'jadwal:buat_jadwal' %}" method="POST" >
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                    </div>
                    {{ form.title }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">tempat</span>
                    </div>
                    {{ form.tempat }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">kategori</span>
                    </div>
                    {{ form.kategori }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">date</span>
                    </div>
                    {{ form.date }}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">time</span>
                    </div>
                    {{ form.waktu }}
                </div>
                <button type="submit">Add!</button>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jadwal">
            {% for i in jadwal %}
                <div class="tiapJadwal">
                    <h3>{{ i.title }}</h2>
                    <p>{{ i.details }}</p>
                    <p> deadline : {{ i.date }} , {{ i.waktu }}</p>
                    <p> tempat : {{ i.tempat }} </p>
                    <p> kategori : {{ i.kategori }} </p>
                    <a href="/jadwal/delete/{{ i.id }}" > delete</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}