html{
    scroll-behavior: smooth;
}
.navbarbg{
    background-color: #8474C7;
}
/*  HOME    */
.homeClass{
    background-color: #71BBEE;
    min-height: 100vh;
}
#fotoHome{
    max-width: 28rem;
    height: auto;
    vertical-align: middle;
}

/*  PROFILE     */
.profile{
    padding-top: 10vh;
    background-color: #86DDF3;
    min-height: 100vh;
}
.linekanan{
    width: 130%;
    border-width: 3px;
    background-color: #794845;  
}
.linekiri{
    width: 130%;
    border-width: 3px;
    background-color: #794845;
}
#profilePerBaris{
    min-height: 70vh;
}
#fotoProfile{
    max-width: 90%;
    height: auto;
    margin: auto;
}

/*    EDUCATION     */
.education{
    padding-top: 10px;
    background-color: #cccce4;
    min-height: 100vh;
}
#titledua{
    padding-top: 2vh;
    text-align: center;
}
.lineDua{
    justify-items : center;
    border-width: 3px;
    background-color: #794845;
}
#isiCard{
    background-color: #cccce4;
}
#logoUI{
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 25%;
    height: auto;
    mix-blend-mode: hard-light;
    opacity: 1.5;  
}
/*  EXPERIENCE      */
.experience{
    padding-top: 10px;
    background-color: #D395E0;
    min-height: 100vh;
}
#spaceexp{
    margin: 1%;
}

/*  Project         */
.project{
    padding-top: 10px;
    background-color: #AE8FDC;
    min-height: 100vh;
}
.backgroundproject{
    background-color: #C0D6DF !important;
    max-width: 30vw;
}
.fotoproject{
    max-width: 25vw;
    height: auto;
}
.centeringtext{
    text-align: center;
    font-size: 180%;
    color: #DBE9EE
}

/*  gallery     */
.gallery{
    padding-top: 10px;
    background-color: rgb(145, 127, 214);
    min-height: 100vh;
}
.galleryfoto{
    max-width: 100%;
    max-height: auto;
}
/*  Contact         */
.contact{
    padding-top: 10vh;
    background-color: #8474C7;
    min-height: 100vh;
}
.contactfoto{
    max-width: 5vw;
    height: auto;
}
.contacttext{
    text-align: center;
    font-size: 120%;
}
.namatitle{
    font-size: 270%;
    text-align: center;
}
.tambahankontak{
    flex: none !important;
}
.inputJadwal{
    background-color: #9fb2ce;
    margin: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
#titleJadwal{
    text-align: center;
}
.tiapJadwal{
    background-color: #9fb2ce;
    margin: 2px;
    padding: 2px;
}
@media only screen and (max-width: 600px){
    .col-6{
        max-width: none !important;
    }
    #tulisanEducation{
        text-align: center;
    }
    #bagiankontak{
        align-items: center;
    }
    .backgroundproject{
        background-color: #C0D6DF !important;
        max-width: 60vw;
    }
    .fotoproject{
        max-width: 55vw;
    }
    .contactfoto{
        max-width: 20vw;
        height: auto;
    }
}