{% extends 'base_layout.html' %}

{% block content %}
    <!--      EDUCATION          -->
    <div class="education" id="edall">
      <!--        EDUCATION TITLE       -->
      <div class="container">
        <h2 class="namatitle">Education</h2> 
        <hr class="lineDua"> 
      </div>
      <!--    EDUCATION CONTENT         -->
      <div class="col-6 mx-auto align-item-center">
        <div class="row justify-content-center my-2" id="isiCard">
          <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" alt="logo UI" class="col" id="logoUI">
          <div class="col-sm" id="tulisanEducation">
              <h4>Universitas Indonesia</h4>
              <P>2018 - Present</P>
          </div>
        </div>
        <div class="row justify-content-center my-2" id="isiCard">
          <img src="/static/img/Logo_sman_3_tangsel.gif" alt="logo UI" class="col" id="logoUI">
          <div class="col-sm" id="tulisanEducation">
              <h4>SMAN 3 Tangerang Selatan</h4>
              <P>2015 - 2018</P>
          </div>
        </div>
        <div class="row justify-content-center my-2" id="isiCard">
          <img src="/static/img/aulady.png"logo UI" class="col" id="logoUI">
          <div class="col-sm" id="tulisanEducation">
              <h4>SMPIT Aulady</h4>
              <P>2015 - 2012</P>
          </div>
        </div>
      </div>
    </div>
    <!--      CONTACT      -->
    <div class="contact" id="contall">
      <!--        CONTACT TITLE       -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <hr class="linekiri float-left">
          </div>
          <div class="col-sm-6">
            <h2 class="namatitle"> Contact Me </h2> 
          </div>
          <div class="col-sm-3">
            <hr class="linekanan float-right"> 
          </div>
        </div>
      </div>
      <!--    CONTACT CONTENT         -->
      <div class="container">
        <div class="row align-items-center" id="bagiankontak">
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">mfaarihihsan26@gmail.com</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" class="mx-auto d-block contactfoto">
            <p class="contacttext">0888210811510</p>
          </div>
          <div class="w-100"></div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://image.flaticon.com/icons/png/512/38/38669.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">Muhamad Faarih Ihsan</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">@faarihihsan</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}