{% extends 'base_layout.html' %}

{% block content %}
    <!--      EXPERIENCE      -->
    <div class="experience" id="exall">
      <!--        EXPERIENCE TITLE       -->
      <div class="container" id="titledua">
        <h2 class="namatitle"> Experience </h2> 
        <hr class="lineDua"> 
      </div>
      <!--    EXPERIENCE CONTENT         -->
      <div class="container">
        <div class="row " id="experienceCards">
          <div class="col-sm-3">
            <h4>Ristek Fasilkom UI</h4>
            <p>2018 - Present</p>
          </div>
          <div class="col-sm-9">
            <h6>Junior Member Embedded System</h6>
            <p>learning to solve a problem using IoT. I have learned a lot about using AWS Cloud service, raspberry pi, etc.</p>
          </div>
          <div class="w-100" id="spaceexp"></div>
          <div class="col-sm-3">
            <h4>COMPFEST 11</h4>
            <p>2018 - Present</p>
          </div>
          <div class="col-sm-9">
            <h6>Staff of Startup Academy</h6>
            <p>running a bootcamp about how to build startup using lean startup method</p>
          </div>
          <div class="w-100" id="spaceexp"></div>
          <div class="col-sm-3">
            <h4>Bedah Kampus UI</h4>
            <p>2018</p>
          </div>
          <div class="col-sm-9">
            <h6>Volunteer at Bedah Jurusan</h6>
            <p>running an event that explains the study program in UI</p>
          </div>
        </div>
      </div>
    </div>
    <!--      CONTACT      -->
    <div class="contact" id="contall">
      <!--        CONTACT TITLE       -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <hr class="linekiri float-left">
          </div>
          <div class="col-sm-6">
            <h2 class="namatitle"> Contact Me </h2> 
          </div>
          <div class="col-sm-3">
            <hr class="linekanan float-right"> 
          </div>
        </div>
      </div>
      <!--    CONTACT CONTENT         -->
      <div class="container">
        <div class="row align-items-center" id="bagiankontak">
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">mfaarihihsan26@gmail.com</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" class="mx-auto d-block contactfoto">
            <p class="contacttext">0888210811510</p>
          </div>
          <div class="w-100"></div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://image.flaticon.com/icons/png/512/38/38669.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">Muhamad Faarih Ihsan</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">@faarihihsan</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}