{% extends 'base_layout.html' %}

{% block content %}
    <!--        GALLERY          -->
    <div class="gallery" id="galall">
      <!--      GALLERY TITLE     -->
      <div class="container" id="titledua">
        <h2 class="namatitle"> Gallery </h2> 
        <hr class="lineDua"> 
      </div>
      <!-- GALLERY CONTENT        -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-4 my-3">
            <img src="/static/img/1542549862075.jpg" alt="" class="galleryfoto mx-auto d-block">
          </div>
          <div class="col-sm-4 my-3 mx-auto d-block">
            <img src="/static/img/1548933617858.jpg" alt="" class="galleryfoto mx-auto d-block">
          </div>
          <div class="col-sm-4 my-3 pl-3 mx-auto d-block">
            <img src="/static/img/IMG_20171111_195808_122.jpg" alt="" class="galleryfoto mx-auto d-block">
          </div>
          <div class="w-100"></div>
          <div class="col-sm-4 my-3 mx-auto d-block">
            <img src="/static/img/IMG_20181206_141630.jpg" alt="" class="galleryfoto mx-auto d-block">
          </div>
          <div class="col-sm-4 my-3 mx-auto d-block">
            <img src="/static/img/IMG_20190714_195917.jpg" alt="" class="galleryfoto mx-auto d-block">
          </div>
          <div class="col-sm-4 my-3 mx-auto d-block ">
            <img src="/static/img/line_1613262104818562.jpg" alt="" class="galleryfoto mx-auto d-block">
          </div>
        </div>
      </div>
    </div>
    <!--      CONTACT      -->
    <div class="contact" id="contall">
      <!--        CONTACT TITLE       -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <hr class="linekiri float-left">
          </div>
          <div class="col-sm-6">
            <h2 class="namatitle"> Contact Me </h2> 
          </div>
          <div class="col-sm-3">
            <hr class="linekanan float-right"> 
          </div>
        </div>
      </div>
      <!--    CONTACT CONTENT         -->
      <div class="container">
        <div class="row align-items-center" id="bagiankontak">
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">mfaarihihsan26@gmail.com</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" class="mx-auto d-block contactfoto">
            <p class="contacttext">0888210811510</p>
          </div>
          <div class="w-100"></div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://image.flaticon.com/icons/png/512/38/38669.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">Muhamad Faarih Ihsan</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">@faarihihsan</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}