{% extends 'base_layout.html' %}

{% block content %}
    <!--        HOME          -->
    <div class="homeClass" id="homeall">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6 ml-5">
            <h3>Hello, I'm</h3>
            <h1>Faarih Ihsan</h1>
          </div>
            <img src="/static/img/home.png" class="col-sm-6 mx-auto d-block img-fluid" id="fotoHome">
        </div>
      </div>
    </div>
    <!--      PROFILE          -->
    <div class="profile" id="profilall">
      <!--        PROFILE TITLE       -->
      <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-3">
              <hr class="linekiri float-left">
            </div>
            <div class="col-sm-6">
              <h2 class="namatitle"> Profile </h2> 
            </div>
            <div class="col-sm-3">
              <hr class="linekanan float-right"> 
            </div>
        </div>
      </div>
      <!--        PROFILE CONTENT       -->
      <div class="container-fluid" id="profile">
          <div class="row align-items-center" id="profilePerBaris">
            <div class="col-lg-4">
              <img src="/static/img/DSCF5533-removebg-preview.png" class="img-fluid my-auto mx-auto d-block" id="fotoProfile">
            </div>
            <div class="col-lg-4 ">
              <h2>Details</h2>
              <ul>
                <li>Muhamad Faarih Ihsan</li>
                <li>1806191276</li>
                <li>Quanta 2018</li>
                <li>Fakultas Ilmu Komputer</li>
                <li>Universitas Indonesia</li>
                <li>Hobi : tidur</li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h3>About Me</h3>
              <p>
                  I am second born child of two siblings. My sister was graduated from University of Indonesia Vocational Program and currently continuing her study by herself. I love mathematics and computer related study. I have a lot of organizational experiences from Senior and Junior high schools.
              </p>
            </div>
          </div>
      </div>
    </div>
    <!--      CONTACT      -->
    <div class="contact" id="contall">
      <!--        CONTACT TITLE       -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <hr class="linekiri float-left">
          </div>
          <div class="col-sm-6">
            <h2 class="namatitle"> Contact Me </h2> 
          </div>
          <div class="col-sm-3">
            <hr class="linekanan float-right"> 
          </div>
        </div>
      </div>
      <!--    CONTACT CONTENT         -->
      <div class="container">
        <div class="row align-items-center" id="bagiankontak">
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">mfaarihihsan26@gmail.com</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" class="mx-auto d-block contactfoto">
            <p class="contacttext">0888210811510</p>
          </div>
          <div class="w-100"></div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://image.flaticon.com/icons/png/512/38/38669.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">Muhamad Faarih Ihsan</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">@faarihihsan</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}