{% extends 'base_layout.html' %}

{% block content %}
    <!--      PROJECT      -->
    <div class="project" id="projall">
      <!--        PROJECT TITLE       -->
      <div class="container" id="titledua">
        <h2 class="namatitle"> Project </h2> 
        <hr class="lineDua"> 
      </div>
      <!--    PROJECT CONTENT         -->
      <div class="container">
        <div class="row" id="projectcards">
          <div class="col-sm-6">
              <div class="backgroundproject border py-3 rounded mx-auto d-block ">
                <img src="/static/img/portofolio.JPG" class="rounded mx-auto d-block fotoproject">
              </div>
            <p class="centeringtext">Portofolio 1.0</p>
          </div>
          <div class="col-sm-6">
              <div class="backgroundproject border py-3 rounded mx-auto d-block">
                <img src="/static/img/project.JPG" class="rounded mx-auto d-block fotoproject">
              </div>
            <p class="centeringtext">wireframe</p>
          </div>
          <div class="w-100"></div>
          <div class="col-sm-6">
              <div class="backgroundproject border py-3 rounded mx-auto d-block">
                <img src="/static/img/mpkt.JPG" class="rounded mx-auto d-block fotoproject">
              </div>
            <p class="centeringtext">Belajar Yu</p>
          </div>
          <div class="col-sm-6">
              <div class="backgroundproject border py-3 rounded mx-auto d-block">
                <img src="/static/img/userpersona.JPG" class="rounded mx-auto d-block fotoproject">
              </div>
            <p class="centeringtext">User Persona</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!--      CONTACT      -->
    <div class="contact" id="contall">
      <!--        CONTACT TITLE       -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-3">
            <hr class="linekiri float-left">
          </div>
          <div class="col-sm-6">
            <h2 class="namatitle"> Contact Me </h2> 
          </div>
          <div class="col-sm-3">
            <hr class="linekanan float-right"> 
          </div>
        </div>
      </div>
      <!--    CONTACT CONTENT         -->
      <div class="container">
        <div class="row align-items-center" id="bagiankontak">
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/1280px-New_Logo_Gmail.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">mfaarihihsan26@gmail.com</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" class="mx-auto d-block contactfoto">
            <p class="contacttext">0888210811510</p>
          </div>
          <div class="w-100"></div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://image.flaticon.com/icons/png/512/38/38669.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">Muhamad Faarih Ihsan</p>
          </div>
          <div class="col-6 my-4 mx-auto d-block tambahankontak">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" class="mx-auto d-block contactfoto">
            <p class="contacttext">@faarihihsan</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}